body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-color: #EC9D44;
}
.logo {
    width: 343px;
}
.header, .main, .footer {
    padding: 20px 10%;
    width: 100%;
}
.heading {
    background-color: #B9FF66;
    color: #000;
    padding: 5px;
    border-radius: 10px;
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}